<!doctype html>
<html lang="pt-BR" class="h-100">
<head>
    {% include '../partes/head.html' %}
</head>
<body class="d-flex flex-column h-100">
    <header>
        {% include '../partes/menu.html' %}
    </header>

    <!-- Begin page content -->
    <main class="flex-shrink-0">
        {% block conteudo %}

        {% endblock %}
    </main>

    <footer class="footer mt-auto py-3 bg-light">
        {% include '../partes/footer.html' %}
    </footer>

    {% include '../partes/scripts.html' %}
</body>
</html>