<!doctype html>
<html lang="pt-BR" class="h-100">

<head>
    {% include 'partes/head.html' %}
</head>

<body>
    <div class="login_conteiner">
        <div class="login_area">
            <img src="/img/m-icon.png" height="50" width="50">
            <p>
                Mytter
            </p>
            <input type="text" placeholder="Nome">
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Senha">
            <input type="password" placeholder="Confime Senha">
            <br />
            <a href="/cadastro"><button class="button">Cadastrar</button></a>
        </div>
    </div>
</body>

</html>