<!doctype html>
<html lang="pt-BR" class="h-100">

<head>
    {% include 'partes/head.html' %}
</head>

<body>
    <div class="login_conteiner">
        <div class="login_area">
            <img src="/img/m-icon.png" height="50" width="50">
            <p>
                Mytter
            </p>
            <br />
            <a href="/home"><button class="button">Logar</button></a>
            <br />
            ou
            <br />
            <a href="/cadastro"><button class="button">Cadastrar</button></a>
        </div>

    </div>
</body>

</html>