<!-- sidebar starts -->
<div class="sidebar">
        <div class="sidebarOption active">
                <img src="/img/m-icon.png" height="50" width="50">
                <b>Mytter</b>
        </div>

        <div class="sidebarOption active">
                <span class="material-icons"> home </span>
                <h2><a href="/home">Inicio</a></h2>
        </div>

        <div class="sidebarOption">
                <span class="material-icons"> search </span>
                <h2><a href="/pesquisar">Pesquisar</a></h2>
        </div>

        <div class="sidebarOption">
                <span class="material-icons"> notifications_none </span>
                <h2><a href="/notificacoes">Notificações</a></h2>
        </div>

        <div class="sidebarOption">
                <span class="material-icons"> perm_identity </span>
                <h2><a href="/perfil">Meu Perfil</a></h2>
        </div>

        <div class="sidebarOption">
                <span class="material-icons"> more_horiz </span>
                <h2><a href="/configuracoes">Configurações</a></h2>
        </div>

        <button class="sidebar__tweet"><a href="/login">Sair</a></button>
</div>
<!-- sidebar ends -->